{% extends "layout.twig" %}

{% block content %}

<div class="bg-glow">    
    <div class="global">
        <!--header-->
        <header>
            <div class="header">
                <div class="container">
                    <div class="row">
                        <article class="span12">
                            <div class="row">
                                <article class="span5">
                                    {{widget('logo', 'name', {"defaultlogo": asset('images/logo.png')})|raw}}
                                    {{widget('profile', 'companydescription', { 'profileType':'companydescription', 'companydescription':'exclusive house plans'})|raw}}
                                    {{widget('space', 'space', {'height': '30'})|raw}}
                                </article>
                                <article class="span7">
                                    {{widget('extendednavigation', 'extendednavigation', {"align":"center"})|raw}}
                                </article>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </header>
        <!--content-->
        <div class="container">
            <div class="row">
                <article class="span12">

                    {{widget('responsiveslideshow', 'responsiveslideshow', {'duration':'3', 'crop':1, 'transSpeed': '1000', 'transType': 'fade', 'showDescription': true, 'showTitle': true, 'showButtons': true, 'showBullets': false, 'allowPause': false, 'allowLoop': true, 'images':[{'imageHeight':'391', 'imageWidth':'1170', 'url':asset('/images/slider/slide-1.jpg'), 'title':'varius ac vulputate in eleifen.', 'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat est sit amet odio interdum quis semper libero volutpatMauris libero sem.'}, {'imageHeight':'391','imageWidth':'1170', 'url':asset('/images/slider/slide-2.jpg'), 'title':'varius ac vulputate in eleifen.', 'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat est sit amet odio interdum quis semper libero volutpatMauris libero sem.'}, {'imageHeight':'391', 'imageWidth':'1170', 'url':asset('/images/slider/slide-3.jpg'), 'title':'varius ac vulputate in eleifen.', 'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat est sit amet odio interdum quis semper libero volutpatMauris libero sem.'}]})|raw}}
                    {{widget('space', 'space', {'height': '50'})|raw}}
                    {{widget('content', 'title1', {content: '<h2>latest works</h2>', lines: 'all'})|raw}}
                    {{widget('gallery', 'works', 
                        {'showDescription': true,
                        'showTitle': true,
                        'images':
                        [
                        {'imageHeight':'357', 'imageWidth':'480', 'url':asset('/images/works/img1.jpg'), 'title':'Lorem ipsum ster spei krie', 'description': 'Nulam nec massa lroep ostre'},
                        {'imageHeight':'357', 'imageWidth':'480', 'url':asset('/images/works/img2.jpg'), 'title':'Lorem ipsum opster she', 'description': 'Nulam nec massa Aliquam con'},
                        {'imageHeight':'357', 'imageWidth':'480', 'url':asset('/images/works/img3.jpg'), 'title':'Lorem ipsum aters at rsp', 'description': 'Nulam nec massa lore dolor'},
                        {'imageHeight':'357', 'imageWidth':'480', 'url':asset('/images/works/img4.jpg'), 'title':'Lorem ipsum halleuse', 'description': 'Nulam nec massa portse'},
                        {'imageHeight':'357', 'imageWidth':'480', 'url':asset('/images/works/img5.jpg'), 'title':'Lorem ipsum lroe posrtese', 'description': 'Nulam nec mas sa haslelu mis'},
                        {'imageHeight':'357', 'imageWidth':'480', 'url':asset('/images/works/img6.jpg'), 'title':'Lorem ipsum haslleus ate', 'description': 'Nulam nec massa quen mstre'},
                        {'imageHeight':'357', 'imageWidth':'480', 'url':asset('/images/works/img7.jpg'), 'title':'Lorem ipsum quersyten', 'description': 'Nulam nec massa lroem posr'},
                        {'imageHeight':'357', 'imageWidth':'480', 'url':asset('/images/works/img8.jpg'), 'title':'Lorem ipsum doloe portse', 'description': 'Nulam nec massa haslleu msie'}
                        ]
                    })|raw}}
                    {{widget('space', 'space', {'height': '50'})|raw}}

                    <div class="row">
                        <article class="span6">
                            {{widget('content', 'title2', {content: '<h2>title</h2>', lines: 'all'})|raw}}
                            <figure class="fleft">{{widget('image', 'image', { 'src': asset('images/pages/page1-img1.jpg'), 'imageWidth': '140px'})|raw}}</figure>
                            <div class="overflow">
                                {{widget('content', 'text1', {content: '<h4>jeff lincoln</h4><h5>General manager</h5><blockquote><p>Adicing eesque sed dolor. Aliqu ngue ferment nisl. Mes cuml dia sed in lacus ut eniascing alitil it amet eismod ictor uterti ligulaam apibticdu mtsent justo dolor los ltiissim pulvinar. Sepiciatis und. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, con.</p></blockquote>', lines: 'all'})|raw}}
                            </div>
                            <div class="clear"></div>
                            {{widget('content', 'text2', {content: '<p>Adicing eesque sed dolor. Aliqu ngue fermentum nisl. Mes cuml dia. Sede in lacus ut eniascing aliiqt sit amet eismod ictor uterti liguz mtsenjustor dolor los ltiissim pulvinar ac lorees. Adicing eesque sed dolor. Aliqu ngue fermentum nisl. Mes cuml dia.</p>', lines: 'all'})|raw}}
                            {{widget('space', 'space', {'height': '50'})|raw}}
                        </article>
                        <article class="span6">
                            {{widget('content', 'title3', {content: '<h2>featured news</h2>', lines: 'all'})|raw}}
                            {{widget('content', 'text3', {content: '<time class="date"><span>16</span>aug</time><strong>Adicing eesque sed doloru fermentu lroem porta.</strong><p>Mes cuml dia. Sed in lacus ut enim ascing aliiqt sit amet euismod ictor ut ligulatmi dapibus tic mtsent justo dolor loset ltiissim. Sed in lacus ut enim ascing aliiqt site ame euismod ictor ut ligulatmi dapibus. Mes cuml dia. Sed in lacus ut enim ascing aliiqt sit amet euismod ict.</p><div class="clear"></div><time class="date"><span>18</span>aug</time><strong>Lorem ipsum dolor amet consectetu haslleum isketsre.</strong><p>Sed in lacus ut enim ascing aliiqt sit amet euismod ict ut ligulatmi dapibus tic mtsent justo dolor loset ltiisim. Sed es cuml dia. Sed in lacus ut enim ascing aliiqt sit amet euismod ictor ut ligulatmi dapibus tic mtsent justo dolor loset ltiissim. Sed in lacus ut enim are.</p><div class="clear"></div>', lines: 'all'})|raw}}
                            {{widget('space', 'space', {'height': '50'})|raw}}
                        </article>
                    </div>

                    <div class="row">
                        <article class="span4">
                            {{widget('content', 'title4', {content: '<h2>from the blog</h2>', lines: 'all'})|raw}}
                            <figure class="fleft">{{widget('image', 'image', { 'src': asset('images/pages/page1-img2.jpg'), 'imageWidth': '60px'})|raw}}</figure>
                            <div class="overflow">
                                {{widget('content', 'text4', {content: '<strong>Lorem ipsum dolor sit amet, conse ctetur adipisc dolore lreom porta.</strong><span class="time">16th Aug, 2012</span>', lines: 'all'})|raw}}
                            </div>
                            <div class="clear"></div>
                            <figure class="fleft">{{widget('image', 'image', { 'src': asset('images/pages/page1-img3.jpg'), 'imageWidth': '60px'})|raw}}</figure>
                            <div class="overflow">
                                {{widget('content', 'text5', {content: '<strong>Lorem ipsum dolor sit amet, conse ctetur adipisc dolore lreom porta.</strong><span class="time">16th Aug, 2012</span>', lines: 'all'})|raw}}
                            </div>
                            <div class="clear"></div>
                            <figure class="fleft">{{widget('image', 'image', { 'src': asset('images/pages/page1-img4.jpg'), 'imageWidth': '60px'})|raw}}</figure>
                            <div class="overflow">
                                {{widget('content', 'text6', {content: '<strong>Lorem ipsum dolor sit amet, conse ctetur adipisc dolore lreom porta.</strong><span class="time">16th Aug, 2012</span>', lines: 'all'})|raw}}
                            </div>
                            <div class="clear"></div>
                            {{widget('space', 'space', {'height': '50'})|raw}}
                        </article>
                        <article class="span4">
                            {{widget('content', 'title5', {content: '<h2>twitter</h2>', lines: 'all'})|raw}}
                            {{widget('twitter', 'twitter', {'searchKey': 'basekit', 'searchType': 'templatehelpcom', 'count': '2','refreshTime': '1800000','includeRts': '0'})|raw}}
                            {{widget('space', 'space', {'height': '50'})|raw}}
                        </article>
                        <article class="span4">
                            {{widget('content', 'title6', {content: '<h2>contact us</h2>', lines: 'all'})|raw}}
                            {{zone('main')|raw}}
                            {{widget('space', 'space', {'height': '50'})|raw}}
                        </article>
                    </div>
                    
                    {{zone('main')|raw}}

                </article>
            </div>
        </div>
        <!--footer-->
        <footer>
            <div class="container">
                <div class="row">
                    <section class="span12">
                        <div class="row">
                            <article class="span8">

                                {{widget('companyname', 'companyname', {"business": "house plans"})|raw}}
                                {{widget('profile', 'copyright', { 'profileType':'copyright', 'copyright':'© Copyright 2014. All rights reserved'})|raw}}
                                {{widget('space', 'space', {'height': '30'})|raw}}

                            </article>
                            <article class="span4">

                                {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com', 'linkedin':'http://www.linkedin.com', 'facebook': 'https://www.facebook.com', 'twitter': 'https://twitter.com', 'youtube': 'https://www.youtube.com', 'rss': '#'})|raw}}
                                {{widget('space', 'space', {'height': '30'})|raw}}

                            </article>
                        </div>
                    </section>
                </div>
            </div>
        </footer>
    </div>    
</div>

{% endblock %}